<div class="container">
  <div class="navbar navbar-expand-lg justify-content-between">
    <div class="d-lg-none"><a class="navbar-toggler mr-1" href="" data-id="headers-4-sidebar-toggle"><img
          src="./assets/glyphs/burger.svg"/></a></div>
    <div><a href="/"><img src="/themes/custom/pse_light/images/logo.svg" width="62"/></a></div>
    {{ elements.pse_light_main_menu }}
  </div>
</div>
<hr class="mb-0">
{{ elements.pse_light_breadcrumbs }}
