{% set classes = [
  'bef-links',
  'sort'
] %}
<div{{ attributes.addClass(classes) }}>
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% if loop.last %}
      {{ item }}
    {% else %}
      {{ item }} {{ ' | ' }}
    {% endif %}
  {% endfor %}
</div>
