<article class="search-node-cwc">
  <h2 class="node-title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  <div class="cwc-search-node-wrapper">
    <p>{{ node.body.summary }}</p>
  </div>
</article>
