<div class="pse-hero bg-light py-4 text-white" style="background-image: url('{{ image_path }}');">
  <div class="container">
    <div class="py-5">
      <div class="row justify-content-center text-center py-3">
        <div class="col-12 col-md-8">
          <h1 class="display-4">{{ content.field_title }}</h1>
          <p class="lead mb-4">{{ content.field_description }}</p>
          <div class="d-flex justify-content-center">
            {{ content.field_cta_link }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
