<div class="pse-icons pse-green-bg text-white text-center">
  <div class="container">
    <h2>{{ 'Sectors' |t }}</h2>
    <div class="py-2">
      <div class="small">Lorem ipsum text to go here</div>
      <div class="row justify-content-center justify-content-lg-between text-center align-items-center">
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_academic.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_foodconsumer.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_fuelcells.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_lifesciences.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_oilgas.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_petrochem.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_powerccs.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_specialtychem.png"/></div>
        <div class="col mt-3 mb-lg-0"><img src="/themes/custom/pse_light/images/icons/icon_water.png"/></div>

      </div>
    </div>
  </div>
</div>
